/* MEDIA QUERIES */

@media (max-width: 1000px){
    
    header{
        padding: 20px 0; 
    }
    header .menu{
        display: block;
    }
    header h1{
        font-size: 16px;
    }
    header ul{
        display: none;
    }
    
    /* BURGER SECTION */
    .burger{
        display: flex;
        position: fixed;
        top: 20px;
        right: -100px;
        transition: .1s;
        background-color: white;
    }

    .burger ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .burger ul li{
        list-style-type: none;
    }
    .burger ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    /* INTRO SECTION */
    .intro .pfp{
        width: 150px;
        margin: 0;
    }
    
    .intro h1, h2{
        font-size: 20px;
    }
    .intro .des{
        text-align: center;
        max-width: 200px;
    }
    
    
    /* ABOUT SECTION */
    .about{
        padding: 0 20px;
    }
    

    .about img{
        display: none;
    }
    .about .inner-des p {
        font-size: 14px;
    }
    .about .inner-des .exp .years{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .about i{
        font-size: 20px;
    }
    
    /* EXPERIENCE SECTION */
    
    .experience .contents{
        flex-direction: column;
        gap: 10px;
    }
    
    .experience .frontend, .backend{
        height: 300px;
        width: 300px;
    }
    
    .experience .tools{
        font-size: 20px;
    }
    
    /* PROJECTS SECTION */
    .projects{
        height: fit-content;
    }
    
    .projects img{
        width: 250px;
        height: 330px;
    }
    .projects .contents{
        flex-direction: column;
        gap: 10px;
    }
    .projects .contents .one,.two,.three{
        height: 500px;
        width: 300px;
    }
    
    
    
    
    /* CONTACT SECTION */

    .contact .contents{
        height: 50px;
        font-size: 16px;
    }
    
    /* FOOTER SECTION */
    
    footer{
        height: 100px;
    }
    
    footer ul li a{
        font-size: 16px;
    }

    footer p{
        text-align: center;
    }
    /* UNIVERSAL STYLING */
    
    h1{
        font-size: 30px;
    }
    h3{
        color: gray;
    }
    button:hover{
        background-color: gray;
        color: white;
        cursor: pointer;
    }
}
